---
export interface Props {
  title: string;
  sub: string;
  date: string;
  location?: string;
}

const { title, sub, date, location } = Astro.props;
---

<li class="mx-0 w-full block">
  <div class="flex justify-between items-baseline flex-wrap">
    <h3>{title}</h3>
    <span>{date}</span>
  </div>
  <div class="flex justify-between text-xs italic">
    <span>{sub}</span>
    {location && <span>{location}</span>}
  </div>
  <ul class="ml-6 mt-1 list-disc list-outside">
    <slot />
  </ul>
</li>
