---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/resume.css";
import PrintLayout from "../layouts/PrintLayout.astro";
import Header from "../components/resume/Header.astro";
import SectionBlock from "../components/resume/SectionBlock.astro";

const skills = {
  Languages: [
    "JavaScript",
    "TypeScript",
    "HTML",
    "CSS",
    "SQL",
    "Python",
    "C#",
    "Java",
  ],
  Frameworks: ["React", "NextJS", "ASP.NET", "Express.js", "Astro", "Svelte"],
  "Tools and Libraries": [
    "Node.js",
    "Git",
    "GitHub",
    "Yarn",
    "NPM",
    "Redux",
    "Figma",
    "Firebase",
    "Supabase",
    "MongoDB",
    "Strapi",
    "Auth0",
  ],
  "Development Skills": [
    "Accessibility",
    "Responsive Design",
    "REST APIs",
    "SEO",
  ],
};

const hobbies = ["Baking", "Digital Art", "Hobby Development"];
---

<PrintLayout
  title="Resume"
  description="This is Neia Hu's most current resume."
>
  <article id="resume">
    <Header />
    <section>
      <h2>Education</h2>
      <ul>
        <SectionBlock
          sub="B.S. Computer Science / Mathematics"
          title="Northeastern University"
          date="Sep 2018 - Dec 2021"
          location="Boston, MA"
        />
      </ul>
    </section>
    <section>
      <h2>Experience</h2>
      <ul>
        <SectionBlock
          title="Automation / Software Engineer"
          sub="TDK Headway Technologies"
          date="Apr – Oct 2022"
          location="Milpitas, CA"
        >
          <li>
            Developed internal solutions regarding automation and collection of
            data produced by product engineers
          </li>
          <li>
            Interfaced with internal clients to determine needs and
            requirements, then implemented solutions per their specifications
          </li>
          <li>
            Maintained legacy applications using <b>ASP.NET</b>,
            <b>Visual Basic</b> and <b>MS SQL server</b>
          </li>
        </SectionBlock>
        <SectionBlock
          title="CS1800 Discrete Structures Teaching Assistant"
          sub="Northeastern University"
          date="Sep – Dec 2019"
          location="Boston, MA"
        >
          <li>
            Taught discrete mathematics, logic, and proofs in regular office
            hours and recitation sessions
          </li>
          <li>
            Modelled problems in different ways to effectively communicate and
            break down complicated mathematical concepts
          </li>
        </SectionBlock>
      </ul>
    </section>
    <section>
      <h2>Projects</h2>
      <ul>
        <SectionBlock
          title="Krooster"
          sub="Lead Developer"
          location="krooster.com"
          href="https://krooster.com/"
          date="Jun 2021 – Present"
        >
          <li>
            Built an open source fansite web app with <b>NextJS</b>, which
            allows users to record and share collections with other users and
            includes a number of useful tools
          </li>
          <li>
            Used <b>PostgreSQL</b> hosted by <b>Supabase</b> and deployed on
            <b>Vercel</b> for authentication, storage, hosting, and analytics
          </li>
          <li>
            Prototyped and redesigned a new UI with <b>Figma</b> to improve user
            experience and increase engagement
          </li>
          <li>
            Actively serving <b>10,000 users</b> internationally with regular updates,
            issue tracking, and bug fixes
          </li>
          <li>
            Collaborated with other developers to fully integrate multiple other
            web applications into Krooster
          </li>
        </SectionBlock>
      </ul>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      {
        Object.entries(skills).map(([title, list]) => (
          <div class="flex">
            <h3 class="font-bold">{title}:</h3>
            <ul class="ml-2 flex">
              {list.map((skill, i) => (
                <li class="contents">
                  {`${skill}${i < list.length - 1 ? ", " : ""}`}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </section>
    <section id="interests">
      <h2>Interests</h2>
      <ul class="flex">
        {
          hobbies.map((h, i) => (
            <li class="contents">
              {`${h}${i < hobbies.length - 1 ? ", " : ""}`}
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</PrintLayout>
