---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/resume.css";
import PrintLayout from "../layouts/PrintLayout.astro";
import Header from "../components/resume/Header.astro";
import SectionBlock from "../components/resume/SectionBlock.astro";

const skills = {
  "Languages": [
    "JavaScript",
    "TypeScript",
    "HTML",
    "CSS",
    "SQL",
    "Python",
    "C#",
    "Java",
  ],
  "Web Frameworks": [
    "React",
    "NextJS",
    "ASP.NET",
    "Express.js",
    "Astro",
    "Svelte",
  ],
  "Tools and Libraries": [
    "Node.js",
    "Git",
    "GitHub",
    "Yarn",
    "NPM",
    "Redux",
    "Firebase",
    "Supabase",
    "MongoDB",
    "Strapi",
    "Auth0",
  ],
  "Development Skills": [
    "Accessibility",
    "Agile / Scrum",
    "Responsive Design",
    "REST APIs",
    "SEO",
  ],
};
---

<PrintLayout
  title="Resume"
  description="This is Neia Hu's most current resume."
>
  <article id="resume">
    <Header />
    <p>
      Authorized to work for any US employer. &nbsp; &nbsp;Open to relocation.
    </p>
    <section>
      <h2>Education</h2>
      <ul>
        <SectionBlock
          sub="B.S. Computer Science / Mathematics"
          title="Northeastern University"
          date="Sep 2018 - Dec 2021"
          location="Boston, MA"
        />
      </ul>
    </section>
    <section>
      <h2>Experience</h2>
      <ul>
        <SectionBlock
          title="Substitute Teacher"
          sub="Swing Education"
          date="Aug 2024 - Present"
          location="Los Angeles, CA"
        >
          <li>
            Substituted at multiple schools teaching several subjects within the
            greater Los Angeles area
          </li>
          <li>
            Managed classroom behavior and maintained a safe and inclusive
            learning environment
          </li>
        </SectionBlock>
        <SectionBlock
          sub="Freelancer"
          title="Fullstack Developer"
          date="Dec 2022 - Present"
          location="Remote"
        >
          <li>
            Used <b>NextJS</b> alongside <b>Strapi</b> to develop a responsive web
            application to allow users to compete in teams
          </li>
          <li>
            Designed and developed a RESTful API with <b>Express</b>,
            <b>AWS S3</b>, and <b>Postgres</b>, managing authentication with
            <b>Auth0</b>
          </li>
          <li>
            Prototyped and developed clean, straightforward user interfaces to
            match user and client needs
          </li>
        </SectionBlock>
        <SectionBlock
          title="Automation / Software Engineer"
          sub="TDK Headway Technologies"
          date="Apr – Oct 2022"
          location="Milpitas, CA"
        >
          <li>
            Developed internal solutions regarding automation and collection of
            data produced by product engineers
          </li>
          <li>
            Used <b>ASP.NET</b> and <b>MS SQL server</b>, with Visual Basic to
            maintain legacy applications
          </li>
        </SectionBlock>
        <SectionBlock
          title="CS1800 Discrete Structures Teaching Assistant"
          sub="Northeastern University"
          date="Sep – Dec 2019"
          location="Boston, MA"
        >
          <li>
            Taught discrete mathematics, logic, and proofs in regular office
            hours and recitation sessions
          </li>
          <li>
            Modelled problems in different ways to effectively communicate and
            break down complicated mathematical concepts
          </li>
        </SectionBlock>
      </ul>
    </section>
    <section>
      <h2>Projects</h2>
      <ul>
        <SectionBlock
          title="Krooster"
          sub="Lead Developer"
          location="TypeScript, NextJS, Redux, MUI, Postgres, Sentry"
          date="Jun 2021 – Present"
        >
          <li>
            Built an open source fansite web app with <b>NextJS</b>, which
            allows users to record and share collections with other users and
            includes a number of useful tools
          </li>
          <li>
            Used <b>Supabase</b> hosted <b>PostgreSQL</b> and <b>Vercel</b> for authentication,
            storage, hosting, and analytics
          </li>
          <li>
            Actively serving over <b>20,000 registered users</b> internationally
            with regular updates, issue tracking, and bug fixes
          </li>
          <li>
            Collaborated with other developers to fully integrate multiple other
            web applications into Krooster
          </li>
        </SectionBlock>
      </ul>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      {
        Object.entries(skills).map(([title, list]) => (
          <div class="flex">
            <h3 class="font-bold">{title}:</h3>
            <ul class="ml-2 flex">
              {list.map((skill, i) => (
                <li class="contents">
                  {`${skill}${i < list.length - 1 ? ", " : ""}`}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </section>
  </article>
</PrintLayout>
